{% extends 'onechan/base.html' %}
{% load staticfiles %}
{% block title %}
Добавить новость
{% endblock %}
{% block content %}
<header>
	<h1>Добавление новости</h1>
	<hr>
</header>

<form action="{% url 'onechan:add_post' %}" method="post" class="post-add-form">
	{% csrf_token %}
	<div class="post-add-form-field">
		<h2>Категория</h2>
		<p class="post-add-form-descr">
			Для отправки поста в категорию, необходимо выбрать её из выпадающего списка, или ввести приватный ключ категории.
		</p>
		{{ form.category.errors }}
		{{ form.category }}
		<div><small>Если ты собрался запостить <strong>хуйню</strong>, то оставь это поле пустым.</small></div>
	</div>
	<div class="post-add-form-field">
		<h2>Заголовок</h2>
		{{ form.title.errors }}
		{{ form.title }}
	</div>
	<div class="post-add-form-field">
		<h2>Ссылка</h2>
		<p class="post-add-form-descr">
			Ссылка на внешний материал. Оставьте поле пустым, если материал самодостаточен.
		</p>
		{{ form.link.errors }}
		{{ form.link }}
	</div>
	<div class="post-add-form-field">
		<h2>Текст новости</h2>
		<p class="post-add-form-descr">
			<!FIXME: hardcoded url>
			Можно использовать <a href="{% url 'onechan:help_markup' %}" target="_blank">язык разметки</a>.
			Если текст записи большой, он должен быть разделен на две части: вводную и подробную.
		</p>
		{{ form.text.errors }}
		{{ form.text }}
		{{ form.text_full.errors }}
		{{ form.text_full }}
	</div>
	<div class="post-add-form-field">
		<h2>Принадлежность</h2>
		<p class="post-add-form-descr">
			Вы, как автор, можете указать свою принадлежность к аудитории определенной <abbr title="параши">имиджборды</abbr>.
			Иконка выбранной имиджборды будет отображаться рядом с вашим постом.
		</p>
		{{ form.author_board.errors }}
		{{ form.author_board }}
	</div>
	<div class="post-add-form-field">
		{{ form.captcha.errors }}
		{{ form.captcha }}
	</p>
	<p><input type="submit" value="Добавить новость"></p>
</form>
{% endblock %}