{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %} | 1chan </title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="icon" type="image/png" href="{% static 'onechan/img/favicon.png' %}" />
	<link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700italic,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css"     href="{% static 'onechan/style.css' %}"  media="all" />
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
	<meta name=viewport content="width=device-width, initial-scale=1">
	{% block ws_room %}{% endblock %}
</head>
<body>
<div class="container">
<nav class="sitenav">
	<header>
		<a href="{% url 'onechan:index' %}" class="sitenav-logo">
			<img class="sitenav-logo-image" src="{% static 'onechan/img/chiyo.png' %}">
			<div class="sitenav-logo-stats">
				Вижу <span id="stats_online">-</span>!
			</div>
		</a>
	</header>
	<ul class="sitenav-links">
		<li><span class="fa fa-fw fa-check-circle"></span><a href="{% url 'onechan:approved_posts' %}">Одобренные</a></li>
		<li><span class="fa fa-fw fa-question-circle"></span><a href="{% url 'onechan:all_posts' %}">Все</a></li>
		<li><span class="fa fa-fw fa-newspaper-o"></span><a href="{% url 'onechan:add_post' %}">Добавить новость</a></li>
	</ul>
	<hr>
	<ul class="sitenav-links">
		<li><span class="fa fa-fw fa-star"></span><a href="{% url 'onechan:favourite_posts' %}">Избранное</a></li>
		<li><span class="fa fa-fw fa-tags"></span><a href="{% url 'onechan:category_list' %}">Категории</a></li>
		<li><span class="fa fa-fw fa-comments"></span><a href="{% url 'onechan:last_comments' %}">Последние комментарии</a></li>
	</ul>
	<hr>
	<ul class="sitenav-links">
		<li><span class="fa fa-fw fa-rss-square"></span><a href="{% url 'onechan:news_feed' %}">Одобренные новости</a></li>
		<li><span class="fa fa-fw fa-rss-square"></span><a href="{% url 'onechan:news_all_feed' %}">Все новости</a></li>
	</ul>
	<hr>
	<footer class="sitenav-stats">
		<ul>
			<li>Всего пользователей за сегодня: {{stats_today_users}}</li>
			<li>Постов за день: {{stats_today_posts}}</li>
			<li>Скорость постинга: &#x2248;{{stats_speed}} постов/час</li>
		</ul>
	</footer>
</nav>
<section class='content'>
{% block content %}
{% endblock content %}
{% if debug %}
<div class="debug-queries">
{% for query in sql_queries %}
	<div class="query">
	{{query.time}} : {{query.sql}}
	</div>
{% endfor %}
</div>
{% endif %}
</section>
</div>
<div id="comment_ref_previews"></div>
<script src="{% static 'onechan/js/shit.js' %}"></script>
</body>
</html>