{% extends 'onechan/base.html' %}
{% load staticfiles %}
{% block title %}
Список категорий
{% endblock %}
{% block content %}

<header>
	<h1>Список категорий</h1>
	<hr>
</header>

<main class="categories">
<ul class="fa-ul">
{% for category in categories %}
	<li class="categories-entry">
		<span class="fa fa-tag fa-li"></span>
		<h2>
			<a href="{% url 'onechan:category_posts' category_id=category.id %}" class="b-blog-form_b-form_b-field_b-header-link">
			{{ category.name }} ({{ category.post_set.all.count }})
			</a>
		</h2>
		<p>
			{{ category.desciption }}
		</p>
	</li>
{% endfor %}
</ul>
</main>
{% endblock %}
