{% load staticfiles %}
{% load markdown %}
<div class="b-comment{% if False %} m-new{% endif %}" id="comment_{{ comment.id }}">
	<div class="b-comment_b-info">
		<!FIXME: js links>
		{{ comment.pub_date| date:'d M Y @ H:i' }}, <a href="{% url 'onechan:show_post' post_id=comment.post.id %}#{{ comment.id }}">№</a><a href="javascript://" class="js-paste-link" name="{{ comment.id }}">{{ comment.id }}</a>
		<a href="#" class="js-remove-button g-hidden">
			<img src="{% static 'ico/remove.gif' %}" width="16" height="16" alt="{{ comment.id }}" />
		</a>
		{% if comment.author_board %}
			<img src="{{ comment.author_board.img.url }}" class="b-comment_b-homeboard" width="16" height="16"
			alt="Аноним выбрал принадлежность «{{ comment.author_board.name }}»"
			title="Аноним выбрал принадлежность «{{ comment.author_board.name }}»"/>
		{% endif %}
	</div>
	<div class="b-comment_b-body g-clearfix">
		{{ comment.text| markdown }}
	</div>
</div>
