{% load staticfiles %}
{% load markdown %}

<article class='comment' id="comment_{{ comment.id }}">
<header>
	<h1>Комментарий <a href="{% url 'onechan:show_post' post_id=comment.post_id %}#comment_{{ comment.id }}">№{{comment.id}}</a>:</h1>
</header>
<div class="comment-body">
	{{ comment.text| markdown }}
</div>
<footer class="comment-attrs">
	<span class="comment-pubdate">
		<time datetime="{{comment.pub_date.isoformat}}">{{ comment.pub_date| date:'d M Y @ H:i' }}</time>
	</span>
	{% if comment.author_board %}
	<span class="comment-author-board">
		<img src="{{ comment.author_board.img.url }}"
			alt="Аноним выбрал принадлежность «{{ comment.author_board.name }}»"
			title="Аноним выбрал принадлежность «{{ comment.author_board.name }}»" />
	</span>
	{% endif %}
</footer>
</article>
