{% extends 'onechan/base.html' %}
{% load staticfiles %}
{% block ws_room %}
<script type="text/javascript">
"use strict";
window.wsRoom = 'news_{{ post.id }}';
</script>
{% endblock %}
{% block content %}

{% include 'onechan/posts_list_header.html' %}
{% include 'onechan/post_partial.html' with full_text=True %}

<div class="l-comments-wrap">
{% for comment in post.comment_set.all %}
	{% include 'onechan/comment_partial.html' %}
{% endfor %}

<!FIXME: implement statistics >
<div class="b-post-statistics">
	Читают: <strong id="post_stats_reading">-</strong>{% if not post.closed %} | Отвечают: <strong id="post_stats_writing">-</strong>{% endif %}
	<span class="b-post-statistics_m-right">
		Всего: <span id="post_stats_total">{{ post.view_count }} просмотр{{ post.view_count| pluralize:"ов" }}</span>
	</span>
</div>

{% if not post.closed %}
<form action="{% url 'onechan:add_comment' post_id=post.id %}" method="post" id="comment_form">
{% csrf_token %}
<input type="hidden" name="homeboard" value="" />
<div class="b-comment-form">
	<strong>Комментировать:</strong>
	<span class="b-comment-form_b-helplink">
		<!FIXME: hardcoded url >
		<a href="/help/markup/" target="_blank">Правила разметки</a>
	</span>

	<div>
		<div class="comment-form-error" id="comment_form_error_captcha"></div>
		<div class="comment-form-captcha">
			{{ comment_form.captcha }}
		</div>
		<div class="comment-form-author-board">
			{{ comment_form.author_board }}
		</div>
		<div class="comment-form-error" id="comment_form_error_text"></div>
		<textarea id="comment_form_text" name="text" rows="5"></textarea>

		<input type="submit" value="Отправить" />
		<span class="b-comment-form_b-uplink">
			<a href="#top">Вверх &uarr;</a>
		</span>
	</div>
</div>
</form>
{% endif %}

</div>
{% endblock %}
