{% extends 'onechan/base.html' %}
{% load staticfiles %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}
{% include 'onechan/posts_list_header.html' %}

<!FIXME: live updates >
<div class="b-post-added-notify" id="post_notify">
	Доступны новые записи, <a href="">перезагрузите страницу</a>, чтобы увидеть их.
</div>

{% for post in posts %}
{% include 'onechan/post_partial.html' with full_text=False %}
{% empty %}
<div class="b-static">
	<h1>На этой странице нет постов</h1>
	<p>Либо их действительно нет, либо опять все сломалось.</p>
</div>
{% endfor %}

{% if posts %}
<div class="b-paginator">
	<ul class="g-clearfix">
		<li class="b-paginator_b-control"><a href="{{request.path}}?page={{posts.paginator.page_range|first}}">&lArr;</a></li>
		{% if posts.has_previous %}
		<li class="b-paginator_b-control"><a href="{{request.path}}?page={{posts.previous_page_number}}">&larr;</a></li>
		{% endif %}
		{% for page_num in posts.paginator.page_range %}
			{% if page_num == posts.number %}
			<li><span>{{page_num}}</span></li>
			{% else %}
			<li><a href="{{request.path}}?page={{page_num}}">{{page_num}}</a></li>
			{% endif %}
		{% endfor %}
		{% if posts.has_next %}
		<li class="b-paginator_b-control"><a href="{{request.path}}?page={{posts.next_page_number}}">&rarr;</a></li>
		{% endif %}
		<li class="b-paginator_b-control"><a href="{{request.path}}?page={{posts.paginator.page_range|last}}">&rArr;</a></li>
	</ul>
</div>
{% endif %}
{% endblock %}