{% extends 'onechan/base.html' %}
{% load staticfiles %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}
<header>
	<h1>{{title}}</h1>
	<hr>
</header>

{% for post in posts %}
{% include 'onechan/post_partial.html' with full_text=False %}
{% endfor %}

{% if posts %}
<footer class="paginator">
	<ul>
		<li><a href="{{request.path}}?page={{posts.paginator.page_range|first}}">&lArr;</a></li>
		{% if posts.has_previous %}
		<li><a href="{{request.path}}?page={{posts.previous_page_number}}">&larr;</a></li>
		{% endif %}
		{% for page_num in posts.paginator.page_range %}
			{% if page_num == posts.number %}
			<li><span>{{page_num}}</span></li>
			{% else %}
			<li><a href="{{request.path}}?page={{page_num}}">{{page_num}}</a></li>
			{% endif %}
		{% endfor %}
		{% if posts.has_next %}
		<li><a href="{{request.path}}?page={{posts.next_page_number}}">&rarr;</a></li>
		{% endif %}
		<li><a href="{{request.path}}?page={{posts.paginator.page_range|last}}">&rArr;</a></li>
	</ul>
</footer>
{% endif %}
{% endblock %}