{% extends 'onechan/base.html' %}
{% load staticfiles %}
{% block title %}
{{ post.title }} &mdash; пост №{{post.id}}
{% endblock %}
{% block ws_room %}
<script type="text/javascript">
"use strict";
window.wsRoom = 'news_{{ post.id }}';
</script>
{% endblock %}
{% block content %}
<header>
	<h1>{{ post.title }} &mdash; пост №{{post.id}}</h1>
	<hr>
</header>

<main>
{% include 'onechan/post_partial.html' with full_text=True %}
</main>

<section class="comments">
<header>
	<h1>Комментарии</h1>
</header>
{% for comment in post.comments.all %}
	{% include 'onechan/comment_partial.html' %}
{% endfor %}
</section>

<section class="post-stats">
	<span class="post-stats-readers">Читают: <strong id="post_stats_reading">-</strong></span>
	{% if not post.closed %}
	<span class="post-stats-writers">Отвечают: <strong id="post_stats_writing">-</strong></span>
	{% endif %}
	<span class="post-stats-views">Всего: {{ post.view_count }} просмотр{{ post.view_count| pluralize:"ов" }}</span>
</section>

<form action="{% url 'onechan:add_comment' post_id=post.id %}" method="post" id="comment_form" class="comment-form">
	{% csrf_token %}
	<a href="{% url 'onechan:help_markup' %}" target="_blank" class="comment-form-help">Справка по разметке</a>
	<p><span class="comment-form-error" id="#comment_form_error_captcha"></span><br>{{ comment_form.captcha }}</p>
	<p>{{ comment_form.author_board}}</p>
	<p><span class="comment-form-error" id="#comment_form_error_text"></span><br>{{ comment_form.text }}</p>
	<p><input type="submit" value="Отправить"></p>
</form>

{% endblock %}
